[submodule "dev"]
	path = dev
	url = https://github.com/deep-foundation/dev
[submodule "Data.Doublets.Gql"]
	path = Data.Doublets.Gql
	url = https://github.com/linksplatform/Data.Doublets.Gql
[submodule "graphql-bench"]
	path = graphql-bench
	url = https://github.com/hasura/graphql-bench
